/* cadastro.css */
* {
    box-sizing: border-box;
}
/* Estilos básicos */

body {
    background-color: #363636;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #2e6c70;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 2rem;
    color: #6af3e5;
    margin: 0;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: linear-gradient(to bottom, #2e6c70b0, #333);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 500px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #6af3e5;
}

.form-group input {
    width: 100%;
    background-color: #2e6c70b0;
    border: 1px solid #6af3e5;
    padding: 12px;
    color: #fff;
    font-size: 1rem;
    border-radius: 9999px;
    outline: none;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #14c9a4;
}

button[type="submit"] {
    background-color: #14c9a4;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 9999px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0da286;
}

p {
    text-align: center;
    margin-top: 20px;
}

p a {
    color: #6af3e5;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

footer {
    background-color: #2e6c70;
    text-align: center;
    padding: 15px;
    color: #fff;
    font-size: 0.9rem;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);
}

/* Media Query para tornar a página responsiva */
@media (max-width: 768px) {
    .container {
        padding: 20px;
        max-width: 90%;
    }

    header h1 {
        font-size: 1.5rem;
    }

    button[type="submit"] {
        padding: 12px;
        font-size: 0.9rem;
    }

    .form-group input {
        padding: 10px;
        font-size: 0.9rem;
    }

    footer {
        font-size: 0.8rem;
    }
}
