* {
    font-family: "Poppins", sans-serif;
}

body {
    background: #333;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ajusta para garantir que o conteúdo ocupe a altura total da tela */
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%; /* Usa 90% da largura da tela em dispositivos menores */
    max-width: 400px; /* Limita o tamanho máximo em telas grandes */
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.input-group button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.input-group button:hover {
    background-color: #0056b3;
}

.extra-options {
    text-align: center;
    margin-top: 10px;
}

.extra-options a {
    text-decoration: none;
    color: #007bff;
}

.extra-options a:hover {
    text-decoration: underline;
}

/* Media queries para diferentes tamanhos de tela */
@media (max-width: 768px) {
    main {
        margin-top: 5%;
    }

    .login-container {
        width: 90%;
    }

    .input-group input,
    .input-group button {
        font-size: 12px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .login-container {
        padding: 15px;
    }

    .input-group input,
    .input-group button {
        font-size: 12px;
        padding: 8px;
    }

    .login-form h2 {
        font-size: 20px;
    }
}
