/* Base styles */
body {
  font-family: "Poppins", "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #363636;
  display: flex;
}

.watermark-container {
  background-image: url("assets/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Header e Nav */
.barra-superior {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  top: 0;
  padding: 7px;
  background: #6af3e5bd;
  z-index: 100;
}

.logo {
  margin-right: 10vh;
}

.logo a {
  text-decoration: none;
}

.logo img {
  width: 45px;
  height: auto;
}

.logo-name {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  background-clip: text;
  color: transparent;
  letter-spacing: 3px;
  text-transform: uppercase;
  white-space: nowrap;
  animation: flow 3s ease-in-out infinite;
}

/* Barra de pesquisa*/
.search-container {
  flex-grow: 0;
  max-width: 400px;
}

#search-bar {
  background-color: #352f2f;
  color: #e0e0e0;
  border-color: #4a4a4a;
  width: 100%;
  max-width: 400px;
  padding: 8px 15px;
  border: 1px solid lightblue;
  border-radius: 20px;
  font-size: 16px;
  background-color: #f5f8fa;
}

#search-bar:focus {
  border-color: #66e6da;
  outline: none;
}

.search-button {
  display: none;
}

/* Barra de Opções */
.options-bar {
  margin-right: 3vw;
  display: flex;
  align-items: center;
}

.option,
.option-message,
.option-notifications,
.option-config {
  margin-left: 20px;
  color: white;
  cursor: pointer;
  position: relative;
}

.options-bar button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.options-bar button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.options-bar button img {
  height: 30px;
  width: 30px;
}

/* Janelas flutuantes */
.message-window,
.notify-window,
.config-window {
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #9df9e6;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
}

.message-window h3,
.notify-window h3,
.config-window h3 {
  margin-top: 0;
  padding: 10px;
  background-color: #14c9a4;
  color: white;
  border-radius: 15px;
}

/* Area de conteudo da Main */
#app-page {
  display: flex;
}
/* Coluna trending */
#trending {
  justify-content: center;
  display: flex;
  width: 33vw;
  height: 100vh;
}

/* Friends and Groups column */
#friends-groups {
  position: fixed;
  right: 0;
  top: 60px;
  bottom: 2vh;
  width: 25vw;
  height: calc(90vh - 60px);
  background-color: #6666;
  overflow-y: auto;
  padding: 20px;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2vh;
}

.friend-block {
  display: flex;
  background-color: lightblue;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.friend-block h5 {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.friend-block p {
  margin: 5px 0 0;
  font-size: 11px;
  color: #666;
}

.friends a:hover .friend-block {
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}

/* Posts coluna */
.post {
  width: 33vw;
  background-color: #2e6c70b0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-handler {
  font-size: 0.9rem;
  color: #000000;
  margin-top: 4px;
}

.post h3 {
  font-size: 20px;
  margin: 0;
  color: #ffffff;
}

.post-content {
  margin-top: 10px;
}

.post-content p {
  font-size: 16px;
  color: #ffffff;
}

.post-image {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.action-bar {
  display: flex;
  justify-content: space-evenly;
}

.action-bar button {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

.action-bar button:hover {
  border-radius: 50%;
}

/* Conversas */
#conversas {
  border: dashed red;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.chat-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.chat-info {
  display: flex;
  flex-direction: column;
}

.chat-name {
  font-size: 1rem;
  color: #333;
}

.chat-last-message {
  font-size: 0.9rem;
  color: #666;
}

/* Footer */
footer {
  background: linear-gradient(to bottom, #66e6da, #feb47b);
  padding: 40px 20px;
  color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer div {
  margin-bottom: 20px;
  flex: 1 1 200px;
  max-width: 300px;
}

footer h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #007bff;
}

footer p,
footer ul,
footer li {
  font-size: 14px;
  color: #555;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  margin-bottom: 5px;
}

footer a {
  text-decoration: none;
  color: #007bff;
}

footer a:hover {
  text-decoration: underline;
}

/* Responsive design */
@media (max-width: 768px) {
  .column,
  #friends-groups {
    width: 100%;
  }

  footer {
    flex-direction: column;
  }

  footer div {
    max-width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .menu {
    margin-top: 20px;
  }

  .menu a {
    display: block;
    margin: 10px 0;
  }
}
