/* Base styles */
body {
    font-family: "Poppins", "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #363636;
    display: flex;
}

.watermark-container {
    background-image: url("assets/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Header e Nav */
.barra-superior {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    top: 0;
    padding: 7px;
    background: #6af3e5bd;
    z-index: 100;
}

.logo {
    margin-right: 5vh;
}

.logo a {
    text-decoration: none;
}

.logo img {
    width: 40px;
    height: auto;
}

.logo-name {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    background-clip: text;
    color: transparent;
    letter-spacing: 3px;
    text-transform: uppercase;
    white-space: nowrap;
    animation: flow 3s ease-in-out infinite;
}

/* Barra de pesquisa*/
.search-container {
    flex-grow: 0;
    max-width: 400px;
}

#search-bar {
    border: solid red;
    background-color: #352f2f;
    color: #e0e0e0;
    border-color: #4a4a4a;
    width: 100%;
    max-width: 400px;
    padding: 8px 15px;
    border: 1px solid lightblue;
    border-radius: 15px;
    font-size: 14px;
    background: #666;
}

#search-bar:focus {
    color: white;
    border-color: #6666;
    outline: #333;
}

.search-button {
    display: none;
}

/* Barra de Opções */
.options-bar {
    margin-right: 3vw;
    display: flex;
    align-items: center;
}

.option,
.option-message,
.option-notifications,
.option-config {
    margin-left: 20px;
    color: white;
    cursor: pointer;
    position: relative;
}

.options-bar button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.options-bar button:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.options-bar button img {
    height: 30px;
    width: 30px;
}

/* Janelas flutuantes */
.message-window,
.notify-window,
.config-window {
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #9df9e6;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
}

.message-window h3,
.notify-window h3,
.config-window h3 {
    margin-top: 0;
    padding: 10px;
    background-color: #14c9a4;
    color: white;
    border-radius: 15px;
}

/* Area de conteudo da Main */
#app-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

/* Configuração base das colunas */
#row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* Coluna trending */
#trending {
    background: linear-gradient(to bottom, lightblue, #333);
    border-radius: 15px;
    justify-content: center;
    position: sticky;
    top: 13vh;
    margin-top: 13vh;
    width: 30vw;
    height: 90vh;
}
.nt-options {
    width: 100%;
    height: 7%;
    background: yellow;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nt-options button {
    border: none;
    background-color: transparent;
    width: 50%;
}
.nt-options button:hover {
    border: solid red;
    border-radius: 0 15px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid-item {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}

/* Posts coluna */
#posts-page {
    align-items: center;
    margin-top: 13vh;
    margin-left: 3vw;
    width: 35vw;
    z-index: 1;
}

.post {
    margin-right: 0;
    margin-bottom: 1vh;
    width: 96%;
    background: linear-gradient(to bottom, #2e6c70b0, #333);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-handler {
    font-size: 0.9rem;
    color: #000000;
    margin-top: 4px;
}

.post h3 {
    font-size: 20px;
    margin: 0;
    color: #ffffff;
}

.post-content {
    margin-top: 10px;
}

.post-content p {
    font-size: 16px;
    color: #ffffff;
}

.post-image {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.action-bar {
    display: flex;
    justify-content: space-evenly;
}

.action-bar button {
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
}

.action-bar button:hover {
    border-radius: 50%;
}

/* chats e grupos */
#main-cg {
    width: 27vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 1vw;
    top: 13vh;
    background-color: #6666;
    border-radius: 15px;
    height: calc(100vh - 200px);
    flex-direction: column;
    border: solid lightblue;
    background: linear-gradient(to bottom, lightblue, #333);
}
#options-cg {
    float: 1;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#cg-area {
    justify-content: space-around;
}
.friend-block {
    margin-top: 1vh;
    margin-left: 1vw;
    width: 90%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f0f8ff; /* Cor mais suave */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 10px;
    transition: background-color 0.3s ease;
}

.friend-block:hover {
    background-color: #e0efff; /* Mudança de cor no hover */
}

.friend-block a {
    margin-left: 1vw;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
}

.friend-block a h5 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #333;
    font-weight: 600; /* Peso maior para dar destaque */
}

.friend-block a p {
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: #555;
}

.time-stamp {
    font-size: 12px;
    color: #888;
    margin-right: 10px;
}

.chat-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover; /* Garantir que a imagem preencha a área corretamente */
    margin-right: 10px;
}

/* Suavização no hover */
.friend-block a:hover h5,
.friend-block a:hover p {
    color: #0073e6;
}

/* Configuração do footer */
footer {
    background: linear-gradient(to bottom, #66e6da, #feb47b);
    padding: 40px 20px;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer div {
    margin-bottom: 20px;
    flex: 1 1 200px;
    max-width: 300px;
}

footer h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #007bff;
}

footer p,
footer ul,
footer li {
    font-size: 14px;
    color: #555;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    margin-bottom: 5px;
}

footer a {
    text-decoration: none;
    color: #007bff;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive design */
@media (max-width: 768px) {
    .column,
    #friends-groups {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

    footer div {
        max-width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        margin-top: 20px;
    }

    .menu a {
        display: block;
        margin: 10px 0;
    }
}
/* bloco com classes para testes padrao  */
.block-test1 {
    width: 100%;
    height: 7%;
    background: yellow;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.block-test2 {
    background: blue;
}
.block-test3 {
    background: red;
}
